* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rounded M+', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #e6d0b3 25%, #d8b892 25%, #d8b892 50%, #e6d0b3 50%, #e6d0b3 75%, #d8b892 75%);
  background-size: 40px 40px;
  background-color: #e6d0b3;
  font-size: 18px;
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  border: none;
}

ul li {
  list-style: none;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button:hover {
  background-color: #7f4523;
}

select {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

select:hover {
  color: #af704c;
  border-color: #af704c;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}